<div id="<%= dom_id treatment %>">
  <p>
    <strong>Buyer:</strong>
    <%= treatment.buyer_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= treatment.user_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= treatment.comment %>
  </p>

</div>
