<div class="card-body">
  <table class="table table-hover table-bordered table-striped">
    <thead class='table-dark'>
      <tr>
        <th>Tovar nomi</th>
        <th>Soni</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% pack_usages.each do |pack_usage| %>
        <tr>
          <td><%= pack_usage.list_of_pack.name %></td>
          <td><%= pack_usage.amount %></td>
          <td><%= cdlink_to 'удалить', pack_usage %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
