<div class="container my-5">
  <div class="card shadow-lg">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title font-weight-bold">Pack Usages</h3>
      <%= link_to 'Добавить новый', new_pack_usage_path, class: "btn btn-success min-width-btn" %>
    </div>

    <%= render 'pack_usages', pack_usages: @pack_usages %>
  </div>
</div>
