<div class='mx-3'>
  <div class='text-center'>
    <h3 id='pack-name' style=' font-weight:semi-bold' class='font-weight-bold card carb-header'></h3>
  </div>
  <div class='row'>
    <% unless @delivery_from_counterparty.closed? %>
      <div class='col-sm-12 col-md-3'>
        <%= render 'product_entries/form', product_entry: @product_entry, price_in_percentage: @price_in_percentage %>
      </div>
    <% end %>

    <div class='col-sm-12 col-md-7'>
      <div style='background: #f5ffe5'>
        <%= render 'product_entries/product_entries', product_entries: @product_entries, q: @q, deletable: true, shrink: true %>
      </div>
      <%= render 'overall_info' %>
    </div>

    <div class='col-sm-12 col-md-2'>
      <% unless @delivery_from_counterparty.closed? %>
        <%= render 'form', delivery_from_counterparty: @delivery_from_counterparty %><br>
      <% end %>
    </div>
  </div>
</div>


<script>
  $(document).on('turbo:load', function() {
    document.getElementById('pack-select').addEventListener('change', function(event) {
      calculateBuyPrice();
    })

    function calculateBuyPrice(){
      var pack_id = document.querySelector('#pack-select').value;
      var buy_price = document.querySelector('#product_entry_buy_price').value;
      var amount = document.querySelector('#product_entry_amount').value;
      var customActionURL = '/product_sells/ajax_sell_price_request';
      var data = {
        pack_id: pack_id,
        amount: amount
      };
      var csrfToken = $('meta[name="csrf-token"]').attr('content');
      if(buy_price != 0 || buy_price != null){
        fetch(customActionURL, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': csrfToken, // Include the CSRF token in the request headers
          },
          body: JSON.stringify(data)
        })
        .then(function(response) {
          if (response.ok) {
            return response.text();
          } else {
            throw new Error('Error: ' + response.status);
          }
        })
        .then(function(responseText) {
            console.log('text is ', responseText);
            try {
                var responseObject = JSON.parse(responseText);
                document.querySelector('#product_entry_buy_price').value = responseObject.buy_price;
                document.querySelector('#product_entry_sell_price').value = responseObject.sell_price;
            } catch (error) {
                console.error('Error parsing JSON:', error);
            }
        })
        .catch(function(error) {
          console.error(error);
        });
      }
    }
  });
</script>
