<script>
  $(document).ready(function() {
    $('.category-row').click(function() {
      $('.category-row').removeClass('active-category');
      $(this).addClass('active-category');

      var categoryId = $(this).data('category-id');

      $('#product-table tbody tr').each(function() {
        var productCategoryId = $(this).data('category-id');
        if (categoryId == productCategoryId) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
      $('#product-categories').toggle();
      $('#product_search_input').focus()
    });
    $('#eye').on('click', function(){
      $('#product-categories').toggle()
    })
  });
</script>
<i class="fa-regular fa-eye" id='eye'></i>
<div class='row categories' id='product-categories' style='display: none'>
  <div class='col-sm-12'>
    <table class='table table-sm'>
      <tbody>
        <% ProductCategory.all.order(:name).each do |category| %>
          <tr class="category-row" data-category-id="<%= category.id %>">
            <td><%= category.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
