<style>
  .product_list {
    cursor: pointer;
    padding: 9px;
    margin: 4px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
  }

  .product_list:hover {
    background: blue;
    color: white;
  }

  .active {
    background: blue;
    color: white
  }
</style>
<% Pack.where(active: true).order(:name).all.each do |product| %>
  <p data-product-name="<%= product.name %>" data-product-id="<%= product.id %>" class='product_list'>
    <%= product.name %>
  </p>
<% end %>
