<style>
  .product_list {
    cursor: pointer;
    padding: 9px;
    margin: 4px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
  }

  .product_list:hover {
    background: blue;
    color: white;
  }

  .active {
    background: blue;
    color: white
  }
</style>
<script>
  $(document).ready(function() {
    const productSearchInput = document.getElementById('product_search_input');
    const products = document.querySelectorAll('.product_list');

    productSearchInput.addEventListener('input', function() {
      const searchTerm = productSearchInput.value.trim().toLowerCase();

      products.forEach(function(product) {
        const productName = product.dataset.productName.toLowerCase();

        if (productName.includes(searchTerm)) {
          product.style.display = 'block'; // Show the product
        } else {
          product.style.display = 'none'; // Hide the product
        }
      });
    });
  });
</script>

<% Pack.where(active: true).all.each do |product| %>
  <p data-product-name="<%= product.name %>" data-product-id="<%= product.id %>" class='product_list'>
    <%= product.name %>
  </p>
<% end %>
