<script>
  $(document).ready(function() {
    function triggerCategoryRowClick(categoryId) {
      $('.category-row[data-category-id="' + categoryId + '"]').addClass('active-category');
      $('#product-table tbody tr').each(function() {
        var productCategoryId = $(this).data('category-id');
        if (categoryId == productCategoryId) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
      $('#product_search_input').focus()
    }

    $('.category-row').click(function() {
      $('.category-row').removeClass('active-category');
      $(this).addClass('active-category');

      var categoryId = $(this).data('category-id');

      $('#product-table tbody tr').each(function() {
        var productCategoryId = $(this).data('category-id');
        if (categoryId == productCategoryId) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
      $('#product_search_input').focus()
    });

    var value = $('#last-category').val()
    if (value) {
      triggerCategoryRowClick(value);
    }
  });
</script>

<div class='categories' id='product-categories'>
  <% ProductCategory.all.order(:name).each do |category| %>
    <span class="category-row" data-category-id="<%= category.id %>"><%= category.name %></span>
  <% end %>
</div>
