<div class="container my-5">
  <div class="card shadow-lg">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="btn-group" role="group" aria-label="Basic example">
        <%= link_to 'Umumiy korish', sales_path, class: 'btn btn-secondary' %>
        <button type="button" class="btn btn-primary">Подробно</button>
      </div>
    </div>
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title font-weight-bold">Проданные товары/Sotilgan tovarlar</h3>
    </div>

    <div class="card-body">
      <%= render 'filter_form', q: @q, url: request.path %>
      <%= render 'product_sells', product_sells: @product_sells, rate: @rate, shrink: false %>
      <%= paginate @product_sells %>
    </div>
  </div>
</div>
