<style>
  .clicked{
    background-color: yellow;
    transition: background-color 2s;
  }
</style>
<div>
  <div class='row'>
    <div class='col-sm-6 main-page-header'>
      <div>
        <h4 class='text-center'>Mijozlar</h4>
        <input type='text' placeholder='qidirish' id='searchInput'>
        <div style="max-height: 720px; overflow: auto">
          <%= render 'buyers/buyers', buyers: @buyers, shrink: true %>
        </div>
      </div>
    </div>
    <div class='col-sm-6'>
      <div>
        <h4 class='text-center'>Yuk beruvchilar</h4>
        <div style="max-height: 720px; overflow: auto">
          <%= render 'providers/providers', providers: @providers, shrink: true %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on('turbo:load', function(){
    $('#searchInput').focus()
    document.getElementById('searchInput').addEventListener('input', function() {
        var input, filter, table, tr, nameAttr, i;
        input = this.value.toUpperCase();
        table = document.getElementById('buyers-list');
        tr = table.getElementsByTagName('tr');

        for (i = 0; i < tr.length; i++) {
            nameAttr = tr[i].getAttribute('data-buyer-name');
            if (nameAttr) {
                if (nameAttr.toUpperCase().startsWith(input)) {
                    tr[i].style.display = '';
                } else {
                    tr[i].style.display = 'none';
                }
            }
        }
    });
  })
</script>
