<div class='row'>
  <div class='col-sm-6 main-page-header'>
    <div>
      <h4 class='text-center'>Mijozlar</h4>
      <input class='form-control' type='text' placeholder='qidirish' id='searchInput'>
      <div class='counterparties-max-height'>
        <%= render 'buyers/buyers', buyers: @buyers, shrink: true %>
      </div>
    </div>
  </div>
  <div class='col-sm-6'>
    <div>
      <h4 class='text-center'>Yuk beruvchilar</h4>
      <div class='counterparties-max-height'>
        <%= render 'providers/providers', providers: @providers, shrink: true %>
      </div>
    </div>
  </div>
</div>
