<div class='container'>
  <h3 class='text-center'><%= @buyer.name %></h3>
  <% if @treatments.exists? %>
    <div class='card-body'>
      <%= render 'treatments/treatments', treatments: @treatments %>
    </div>
  <% end %>
  <br/><hr/>
  <% if @sales.exists? %>
    <h4>История</h4>
    <div class='card-footer'>
      <%= render 'sales/sales', sales: @sales %>
    </div>
  <% end %>
  <br/><hr/>
  <% if @room_members.exists? %>
    <div class='card-body'>
      <%= render 'room_members/room_members', room_members: @room_members %>
    </div>
  <% end %>
</div>
