/*
 *= require_tree .
 *= require_tree .
 *= require_self
*/
@import "jquery-ui/datepicker";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.erkak {
  padding: 2px 5px;
  border-radius: 8px;
  background: rgb(15, 105, 232);
  color: white;
  font-size: small
}
.ayol {
  padding: 2px 5px;
  border-radius: 8px;
  background: rgb(232, 15, 210);
  color: white;
  font-size: small
}
.categories span {
  padding: 5px 10px;
  border: 1px solid grey;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}
.pack-image img{
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 5px;
}
.category-image{
  width: 90px;
  height: 70px;
  overflow: hidden;
}
.badge {
  padding: 4px 6px;
  border-radius: 8px;
  background: #2105b0;
  color: white;
  font-size: 12px
}
.badge-danger{
  padding: 4px 6px;
  border-radius: 8px;
  background: red;
  color: white;
  font-size: 12px
}
.categories{
  max-width: 100%;
  overflow: auto;
  background-color: aliceblue;
  top: 55px;
  left: 0;
  display: flex;
  flex-direction: row;
}
.active-category {
  background-color: blue;
  color: white;
}

#eye{
  cursor: pointer;
  color: blue;
}
.product_list {
  cursor: pointer;
  padding: 9px;
  margin: 4px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
}

.product_list:hover {
  background: blue;
  color: white;
}

.active {
  background: blue;
  color: white
}

.clicked{
  background-color: yellow;
  transition: background-color 2s;
}

.counterparties-max-height {
  max-height: 720px;
  overflow: auto
}

@media screen and (max-width: 1000px){
  .categories{
    top: 85px;
  }
  .categories span {
    padding: 4px 8px;
    font-size: medium;
  }
}