/*
 *= require_tree .
 *= require_tree .
 *= require_self
*/
@import "jquery-ui/datepicker";
.categories{
  max-height: 200px;
  overflow: auto;
  background-color: aliceblue;
}
.active-category {
  background-color: blue;
  color: white;
}

#eye{
  cursor: pointer;
  color: blue;
}
